* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid white;
}
a {
  text-decoration: none;
  margin-top: 25px;
  font-size: large;
  color: white;
}
.hero {
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.hero span {
  color: #00ffd5;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #00ffd5;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}
